default: &default
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  pool:     5
  username: yanit
  password:
  template: template0

development:
  <<: *default
  database: yanit_development

test:
  <<: *default
  database: yanit_test

production:
  <<: *default
  database: yanit_production
